<header>
    <h1>Zobten-workflow</h1>

    <p class="view">
        <a href="https://github.com/7hny/zobten-workflow">View the Project on GitHub<small>7hny/zobten-workflow</small></a>
    </p>

    {{page.path}}

    <ul>
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/tutorials/photoscan" class="{% if page.url == '/tutorials/photoscan' %}current{% endif %}">Photoscan tutorial</a></li>
    </ul>

</header>